---
import Layout from '@layouts/Page.astro'
import Hero from '@components/Hero.astro'
import Card from '@components/Card.astro'
---

<Layout title="Net0.1">
  <Hero
    title="Net0.1"
    text="A starter template for building sustainable websites."
    button="Get started"
    href="/docs/get-started"
    center
  />
  <div class="grid container">
    <Card title="Static by default" text="About this feature" />
    <Card title="i18n" text="About this feature" />
    <Card title="Built in docs" text="About this feature" />
  </div>
</Layout>
