---
import Layout from '@layouts/Page.astro'
import { getCollection } from 'astro:content'
import { getRelativeLocaleUrl } from 'astro:i18n'
const blogEntries = await getCollection('blog')
---

<Layout title="Blog">
  <h1>Blog</h1>
  <p>Aqui hay unos posts:</p>

  <ol>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <a href={getRelativeLocaleUrl('es', `blog/${blogPostEntry.slug}`)}>
            {blogPostEntry.data.title}
          </a>
        </li>
      ))
    }
  </ol>
</Layout>
