---
import Layout from '@layouts/Page.astro'
import Hero from '@components/Hero.astro'
import Card from '@components/Card.astro'
---

<Layout title="Net0.1">
  <Hero
    title="Resources"
    text="A collection of useful resources to help you build a more sustainable web."
  />
  <div class="grid container">
    <Card title="Feature" text="About this feature" />
    <Card title="Feature" text="About this feature" />
    <Card title="Feature" text="About this feature" />
  </div>
</Layout>
