---
import { GrantCodesCard } from '@grantcodes/ui/components/card/card.component.js'

interface Props {
  href?: string
}

const { href } = Astro.props
---

{
  href ? (
    <GrantCodesCard>
      <a href={href} slot="card-content" class="card__link">
        <slot />
      </a>
    </GrantCodesCard>
  ) : (
    <GrantCodesCard>
      <slot slot="card-content" />
    </GrantCodesCard>
  )
}

<style>
  .card__link {
    text-decoration: none !important;
  }

  grantcodes-card:has(.card__link:hover),
  grantcodes-card:has(.card__link:focus-visible) {
    --component-card-border-color: var(--color-base-primary-500);
  }

  grantcodes-card svg {
    max-width: 5rem;
  }
</style>
