---
interface Props {
  href?: string
}

const { href } = Astro.props
---

{
  href ? (
    <a href={href} class="card">
      <slot />
    </a>
  ) : (
    <div class="card">
      <slot />
    </div>
  )
}

<style>
  .card {
    display: block;
    margin-block: var(--pico-block-spacing-vertical);
    padding: var(--pico-block-spacing-vertical)
      var(--pico-block-spacing-horizontal);
    border-radius: var(--pico-border-radius);
    background: var(--pico-card-background-color);
    box-shadow: var(--pico-card-box-shadow);
  }
</style>
<style is:global>
  .card svg {
    max-width: 5rem;
  }
  .card svg:first-child {
    margin-block-end: 1rem;
  }
</style>
