---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { languageTag } from "@i18n/runtime.js"
import * as m from "@i18n/messages.js"

const lang = languageTag()
---

<header>
  <div class="container grid">
    <a href={getRelativeLocaleUrl(lang, '/')}>
      <img src="/favicon.svg" alt={m.meta_title()} width="60" height="60" />
    </a>

    <nav>
      <ul>
        <li>
          <a href={getRelativeLocaleUrl(lang, '/docs')}>{m.header_docs()}</a>
        </li>
        <li>
          <a href={getRelativeLocaleUrl(lang, '/blog')}>{m.header_blog()}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    --pico-nav-element-spacing-vertical: 0.25rem;
    --pico-block-spacing-vertical: 0.5rem;

    display: flex;
    align-items: center;
    position: sticky;
    inset-block-start: 0;
    /* padding-block: 0; */
    backdrop-filter: blur(1rem);
    background-color: var(--pico-card-background-color);
    background-color: color(
      from var(--pico-card-background-color) srgb r g b / 0.9
    );
    border-block-end: 1px solid var(--pico-muted-border-color);
  }
 
  header .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--pico-block-spacing-vertical);
  }

  header nav ul {
    flex-wrap: wrap;
  }

  @media (min-width: 768px) {
    header nav {
      margin-inline-start: auto;
    }
  }
  
  header a {
    display: block;
  }

  header
</style>
