---
import { getLangFromUrl } from '@i18n/utils'
import Meta from '@components/common/Meta.astro'
import type { Props as MetaProps } from '@components/common/Meta.astro'
// Pico jade theme
import '@picocss/pico/css/pico.jade.min.css'

export interface Props {
  metadata: MetaProps
}

const lang = getLangFromUrl(Astro.url)
const { metadata } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <Meta {...metadata} />
  </head>
  <body>
    <slot />
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
      }
    </style>
  </body>
</html>
